.mheader.container {
    position: fixed;
    height: 80px;
    margin-top: 0;
}


.imglogo {
    width: 187px;
    min-height: auto;
}

nav {
    display: flex;
    font-size: 20px;
    gap: 30px;


}

.meniu-element {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 30px;
    transition: 0.5s;

}

.meniu-element:hover {

    background-color: white;
    color: #74C69D;
    transform: scale(1.1);


}